.cont {
  margin: 0;
  padding: 0 80px;
  background: rgb(14, 16, 37);
}

.inner {
  padding: 0 20px;
  background-color: rgb(255, 255, 255);
  color: black;
}

.bread_crumb {
  padding: 50px 25px;
  padding-bottom: 20px;
}

.bread_crumb a {
  color: #aaa;
  cursor: pointer;
}

.bread_crumb a:last-child {
  color: black;
}

.book_list_cont {
  display: flex;
  flex-wrap: wrap;
}

.book_list_item {
  width: 25%;
  padding: 10px 25px;
  text-align: center;
  align-self: stretch;
  position: relative;
  padding-bottom: 150px;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.book_list_item img {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.493);
  transition: 0.5s;
}

.book_list_item:hover img {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
  transform: scale(1.02);
}

.book_list_item .details {
  position: absolute;
  bottom: 40px;
}

.book_list_item h3,
.book_list_item h5 {
  margin: 0;
  line-height: 1;
  padding: 5px;
}

.book_list_item h3 {
  font-size: 30px;
  padding-bottom: 10px;
}

.book_list_item h5 {
  color: #aaa;
  font-size: 15px;
}
.single_book {
  width: 100%;
  padding: 10px 25px;
  align-self: stretch;
  position: relative;
  padding-bottom: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  gap: 50px;
}

.single_book img {
  min-width: 30%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.493);
  transition: 0.5s;
}

.single_book img:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
  transform: scale(1.02);

  cursor: pointer;
}

.single_book .details {
  /* position: absolute;
  bottom: 40px; */
}

.single_book h3,
.single_book h4,
.single_book h5 {
  margin: 0;
  line-height: 1;
  padding: 5px;
}

.single_book p,
.single_book a {
  margin: 0;
  padding: 5px;
}

.single_book a {
  background-color: rgb(67, 188, 11);
  margin-left: 5px;
  margin-top: 30px;
  display: inline-block;
  padding: 10px;
  color: white;
  border-radius: 10px;
}

.single_book h3 {
  font-size: 30px;
  padding-bottom: 10px;
}

.single_book h5 {
  color: #aaa;
  font-size: 15px;
}

@media (max-width: 768px) {
  .cont {
    padding: 0 40px;
  }
  .book_list_item {
    width: 50%;
    padding-bottom: 200px;
  }
  .single_book {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 450px) {
  .cont {
    padding: 0 20px;
  }
  .book_list_item {
    width: 100%;
    padding-bottom: 150px;
  }
}
